.button {
    align-self: center;
    background-color: #df7849;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-size: 24px;
    padding: 16px;
    width: 150px;
    
    &:active {
      background-color: #fff;
      color: #000;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .button {
      background-color: #df7849;
      grid-column-start: span 2;
      justify-self: center;
      width: 200px;
    }
  }