.clockNumber {
    background-color: #000;
    color: #fff;
    margin: 10px;
    height: 200px;
    width: 3rem;
    padding: 8px 4px;
    border-radius: 10px;
    font-size: 150px;
    text-align: center;
  
    @media screen and (min-width:1280px) {
      height: 10.8rem;
      width: 9rem;
    }
  }
  
  .clockDiv {
    background-color: #000;
    color: #fff;
    height: 4.2rem;
    font-size: 150px;
  
    @media screen and (min-width:1280px) {
      height: 12.6rem;
    }
  }